dist: xenial
services:
- postgresql
addons:
  postgresql: '9.4'
before_script:
- psql -U postgres -c "create user decide password 'decide'"
- psql -U postgres -c "create database test_decide owner decide"
- psql -U postgres -c "ALTER USER decide CREATEDB"
language: python
python:
- '3.6'
install:
- pip install -r requirements.txt
script:
- cd decide
- cp travis_local_settings.py local_settings.py
- python ./manage.py test --keepdb
- rm local_settings.py
deploy:
  provider: heroku
  app: antsanhip-p7
  strategy: git
  api_key:
    secure: s6MiC4vy11hfd5IduBSqVs+W25SqqBnaKlMeivqbM6yy1SE69933NJmkc8XAZpXaz52dy1TZ+1Qqs6ryYRriMF9W3o1NxOEbOR5+Iq/NaitoNGbjHKbWCOfy5xbcAGIeBGyIEv82fOBrQQ/FobjKZylt8qFSowNZ2A02FK2MX/7C4m8a856yj/uU8IzO2QFnLO+n9ZQLFqfpqi2ZTmM0Wc0ABSruI8A9ctVZbjqxGzXz1T6BY6eIhVqfgiQQYpAQZRTPXawmCdiezsZmF2nVBPs6UWNjK01MqjS3RD/EAORWA6z6D/SJmlf34vZ7zNu371dRfWIe94n7e1qRwoGbsQ8ikBoaqwON75nBJ7QVk5E7YQAyJ/V2sOZkPGD3ltlSCKXQ7JnfxX8iPK3K1PwwOi7vrFLC5QJJU++K4VsemoMMZ2cBngo9LgSkngoqXyu2/ur0rEh4bdvZb/bNhD1dMVfCjqLotRkIuhq0bOMgodQdiiFGvoPBhyhBli7Qp60Oggt8rM4oOPhi2GOXGWvCwFQF9mceksf7X6SGQmGfpBsX/004NtpFHQLETErVwkjQ7qTusXsth/ngigB8cbLnJ2wunTLiw7nmHFRse9hCC5r03NOWmVu+7dnOHYezpt4UM5uMfO48axtq89cMYjIK4WnT2r3qeU2sEWFc0f383eQ=
